body {
    font-family: 'Cormorant SC', serif;
    text-align: center;
    background-color: #a2adac;
}

/* game zone */

.game-zone {
    width: 50%;
    height: auto;
    border: 4px solid #3f4242;
    margin: 2em auto;
    font-weight: bolder;
    overflow: hidden;
    position: relative;
}

.player {
    float: left;
}

.computer {
    float: right;
}

#playerZone, #computerZone {
    width: 300px;
    height: 300px;
    border: 4px solid #3f4242;
    margin: 1em 4em;
}

.images {
    padding: 11%;
}

#result {
    width: 80%;
    height: 1.1em;
    border: 4px solid #3f4242;
    position: relative;
    overflow: hidden;
    margin: 1em auto;
}

/* choices buttons */

.choices button {
    background-color: #a2adac;
    margin: 1em;
    border: 4px solid #3f4242;
}

.fa-solid {
    font-size: 4em;
    background-color: #a2adac;
}

/* footer */

.footer {
    bottom: 0.1em;
    margin: 0 auto;
    overflow: hidden;
}

.game-rules {
    width: 90%;
    height: auto;
    border: 4px solid #3f4242;
    margin: 2em auto;

    font-size: 1.2em;
    font-weight: bold;
}